input.invalid {
    border: 1px solid red;
    

}

input.valid {
    border: 1px solid forestgreen;
}

textarea.invalid {
    border: 1px solid red;
    
}

textarea.valid {
    border: 1px solid forestgreen;
}

.hide {
    display: none;
}